body{
    background-color: burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 , h2 , h3{
    background-color: darkmagenta;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
}

img{
    max-width: 100%;
    height: auto;
    width: 30%;
    margin-left: 33%;
    border-radius: 8px;
}